<?xml version="1.0"?>
<!--
  ~ @author Drubu Team
  ~ @copyright Copyright (c) 2021 Drubu
  ~ @package Tiargsa_CorreoArgentino
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <correoestandar>
                <active>1</active>
                <model>Tiargsa\CorreoArgentino\Model\Carrier\StandardDelivery</model>
                <name>Envio a domicilio</name>
                <use_fixed_price>0</use_fixed_price>
                <price>0.00</price>
                <sort_order>1</sort_order>
                <title>correo</title>
                <contract>400006709</contract>
                <sallowspecific>0</sallowspecific>
                <showmethod>1</showmethod>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
                <type>I</type>
                <handling_type>F</handling_type>
                <handling_fee>0.00</handling_fee>
            </correoestandar>
            <correosucursal>
                <active>1</active>
                <model>Tiargsa\CorreoArgentino\Model\Carrier\PickupDelivery</model>
                <name>Retiro en sucursal</name>
                <use_fixed_price>0</use_fixed_price>
                <price>0.00</price>
                <sort_order>2</sort_order>
                <title>correo</title>
                <contract>400006711</contract>
                <sallowspecific>0</sallowspecific>
                <showmethod>1</showmethod>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
                <type>I</type>
                <handling_type>F</handling_type>
                <handling_fee>0.00</handling_fee>
            </correosucursal>
            <correourgente>
                <active>1</active>
                <model>Tiargsa\CorreoArgentino\Model\Carrier\PriorityDelivery</model>
                <name>Envio a domicilio (Urgente)</name>
                <use_fixed_price>0</use_fixed_price>
                <price>0.00</price>
                <sort_order>3</sort_order>
                <title>correo</title>
                <contract>400006710</contract>
                <sallowspecific>0</sallowspecific>
                <showmethod>1</showmethod>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
                <type>I</type>
                <handling_type>F</handling_type>
                <handling_fee>0.00</handling_fee>
            </correourgente>
        </carriers>
        <shipping>
            <correo_configuration>
                <production_mode>0</production_mode>
                <debug_mode>1</debug_mode>
                <client_number>CL0003750</client_number>
                <tracking_url>https://usuarios.e-correo.com/#!/informacionEnvio</tracking_url>
                <correo_rest_prod_urls>
                    <login>https://ptest04.correoargentino.com.ar/apipaqar</login>
                    <rates>https://ptest04.correoargentino.com.ar/apipaqar/rates</rates>
                    <createOrder>https://ptest04.correoargentino.com.ar/apipaqar/orders</createOrder>
                    <label>https://ptest04.correoargentino.com.ar/apipaqar/labels</label>
                    <shippingByNumber>https://ptest04.correoargentino.com.ar/apipaqar/tracking?extClient=000&amp;trackingNumbers=</shippingByNumber>
                    <cancel>https://ptest04.correoargentino.com.ar/apipaqar/orders/</cancel>
                    <locations>https://ptest04.correoargentino.com.ar/apipaqar/agencies</locations>
                    <correohistory>https://www.correoargentino.com.ar/formularios/e-commerce&amp;id=</correohistory>
                    <user>https://ptest04.correoargentino.com.ar/apipaqar/user/current</user>
                </correo_rest_prod_urls>
                <correo_rest_dev_urls>
                    <login>http://192.168.15.158:8080/login</login>
                    <rates>http://192.168.15.158:8080/rates</rates>
                    <createOrder>http://192.168.15.158:8080/orders</createOrder>
                    <label>http://192.168.15.158:8080/labels</label>
                    <shippingByNumber>http://192.168.15.158:8080tracking?extClient=000&amp;trackingNumbers=</shippingByNumber>
                    <cancel>http://192.168.15.158:8080/orders/</cancel>
                    <locations>http://192.168.15.158:8080/agencies</locations>
                    <correohistory>https://www.correoargentino.com.ar/formularios/e-commerce&amp;id=</correohistory>
                    <user>http://192.168.15.158:8080/user/current</user>
                </correo_rest_dev_urls>
            </correo_configuration>
        </shipping>
    </default>
</config>
