#menu-tiargsa-correo-menuprincipal  > a:before{
    content:'';
    background:url(img/correo_icon.png) no-repeat center center;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    background-size: 41px 21px;
}
#menu-tiargsa-correo-menuprincipal._active > a:before,
#menu-tiargsa-correo-menuprincipal:hover > a:before{
    content:'';
    background:url(img/correo_icon.png) no-repeat center center;
    background-size: 41px 21px;
    filter: grayscale(0%);
}
