<?xml version="1.0"?>
<!--
  ~ @author Tiarg Team
  ~ @copyright Copyright (c) 2021 Tiarg
  ~ @package Tiargsa_CorreoArgentino
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add
            id="Tiargsa_CorreoArgentino::menuPrincipal"
            title="Correo Argentino" module="Magento_Config"
            sortOrder="70"
            resource="Magento_Config::brand"
        />
        <add
            id="Tiargsa_CorreoArgentino::guias"
            title="Generación masiva de ordenes"
            module="Tiargsa_CorreoArgentino"
            sortOrder="100"
            parent="Tiargsa_CorreoArgentino::menuPrincipal"
            action="correo/order/index"
            resource="Tiargsa_CorreoArgentino::shipping_operations"
        />
    </menu>
</config>
