<?xml version="1.0"?>
<!--
  ~ @author Tiarg Team
  ~ @copyright Copyright (c) 2021 Tiarg
  ~ @package Tiargsa_CorreoArgentino
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="standard">
        <route id="correo" frontName="correo">
            <module name="Tiargsa_CorreoArgentino" />
        </route>
    </router>
</config>
